{% extends "base_generic_gov.html" %}

{% block backButton %}
<a class="govuk-button" data-module="govuk-button" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="flex h-screen">
  <div class="m-auto bg-white p-4 rounded-md w-[545px] shadow-sm">
    <form method="POST">
      {{csrf_input}}
      <fieldset class="govuk-fieldset">

        {% for question in section.questions %}

        {% if question.answer_type == "agree-5-1" %}

        <div class="govuk-form-group">


          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              {{question.text}}
            </h1>
          </legend>

          {% if question.hint %}
          <div class="govuk-hint">
            {{question.hint}}
          </div>
          {% endif %}

          <div class="govuk-radios govuk-radios--small " data-module="govuk-radios">
            {% for i in range(1, 6) %}
            <div class="govuk-radios__item">
              {% if question.existing_value == i %}
                <input class="govuk-radios__input" id="{{question.id}}-{{i}}" name="{{question.id}}" type="radio"
                  value="{{i}}" checked />
              {% else %}
                <input class="govuk-radios__input" id="{{question.id}}-{{i}}" name="{{question.id}}" type="radio"
                  value="{{i}}" />
              {% endif %}
              <label class="govuk-label govuk-radios__label" for="{{question.id}}-{{i}}">{{i}}</label>
            </div>
            {% endfor %}
          </div>
        </div>

        {% elif question.answer_type == "long-text" %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="{{question.id}}">
            {{question.text}}
          </label>

          {% if question.hint %}
          <div class="govuk-hint">
            {{question.hint}}
          </div>
          {% endif %}

          <textarea class="govuk-textarea" rows="5" id="{{question.id}}" cols="30">{{question.existing_value}}</textarea>
        </div>
        {% endif %}

        {% endfor %}
      </fieldset>



      <input type="submit" value="Next" class="govuk-button" data-module="govuk-button" />
    </form>

  </div>
</div>
{% endblock %}